<section data-ng-controller="EmployeesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="employee.name"></h1>
	</div>
	<div class="pull-right" data-ng-show="authentication.user._id == employee.user._id">
		<a class="btn btn-primary" data-ui-sref="employees.edit({employeeId: employee._id})">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<p class="list-group-item-text" data-ng-bind="employee.email"></p>
	<p class="list-group-item-text" data-ng-bind="employee.phone"></p>
</section>
